{% extends "base.html" %}
{% load static %}

{% block content %}
    <div class="container">
        {% for p in data %}
            <div class="person">
                <img src="{% static 'people/images/default-image.jpg' %}"
                     alt="Фотография">
                <div>
                    <h2 class="name">{{ p.title }}</h2>
                    <p class="role">{{ p.category }}</p>
                    <p class="description">{{ p.content }}</p>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}