{% extends "base.html" %}
{% load static %}
{% load bootstrap4 %}

{% block content %}
    <div class="container max-width-600 my-3 p-3 bg-white rounded shadow-sm">
        <div class="text-center">
            <img src="{% static 'people/images/default-image.jpg' %}" alt="Фотография" class="rounded-circle"
                 width="200" height="200" style="object-fit: cover;">
        </div>
        <div class="media-body text-center mt-3">
            {% if user.get_full_name %}
                <h2 class="mt-0">{{ user.get_full_name }} | {{ user.username }}</h2>
            {% else %}
                <h2 class="mt-0">{{ user.username }}</h2>
            {% endif %}
            <p class="mb-1">
                <span class="text-muted font-italic">{{ user.email }}</span>
            </p>
        </div>
    </div>
{% endblock %}