{% load bootstrap4 %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <title>{{ title }}</title>
    <meta charset="UTF-8">
    <link rel="shortcut icon" href="{% static 'people/images/shortcut_icon.png' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'people/css/styles.css' %}">
    {% bootstrap_css %}
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>
<body>
{% include 'header.html' %}
{% block content %}
{% endblock %}
</body>
</html>