{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <title>{{ title }}</title>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="{% static 'people/css/styles.css' %}">
</head>
<body>
<!-- Добавление кнопок для входа и регистрации -->
{% if not user.is_authenticated %}
    <div class="authorization">
        <a href="#" class="login-button">Вход</a>
        <a href="#" class="register-button">Регистрация</a>
    </div>
{% else %}
    <!-- Отображение кнопки 'Мой профиль', если is_authenticated -->
    {% if not is_profile_page %}
        <div class="profile">
            <a href="{% url 'profile' %}" class="profile-button">Мой профиль</a>
        </div>
    {% else %}
        <!-- Отображение кнопки 'В главное меню', если находишься в профиле -->
        <div class="main-page">
            <a href="{% url 'main_page' %}" class="main-page-button">В главное меню</a>
        </div>
    {% endif %}
{% endif %}
{% block content %}
{% endblock %}
</body>
</html>