<header>
    <!-- Шапка сайта -->
    <nav class="navbar navbar-expand-lg navbar-light bg-dark">
        <div class="navbar-nav ml-auto">
            {% if not user.is_authenticated %}
                {% if main_page_button %}
                    <a href="{% url 'people:main-page' %}" class="btn btn-outline-success mr-2">Главная</a>
                {% endif %}
                {% if login_button %}
                    <a href="{% url 'users:login' %}" class="btn btn-primary mr-2">Вход</a>
                {% endif %}
                {% if registration_button %}
                    <a href="{% url 'users:register' %}" class="btn btn-primary">Регистрация</a>
                {% endif %}
            {% else %}
                {% if not is_profile_page %}
                    <a href="{% url 'users:profile' %}" class="btn btn-primary">Мой профиль</a>
                {% else %}
                    <a href="#" class="btn btn-outline-warning mr-2">Контакты</a>
                    <a href="{% url 'people:main-page' %}" class="btn btn-outline-success mr-2">Главная</a>
                    <a href="{% url 'users:logout' %}" class="btn btn-danger">Выйти</a>
                {% endif %}
            {% endif %}
        </div>
    </nav>
</header>